{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>User index</h1>

    <div class="search-form-wrapper">
        {{ form_start(searchFrom, {method: 'get', attr: { novalidate: true}}) }}

        {{ form_label(searchFrom.query, 'Users search') }}
        {{ form_widget(searchFrom.query, {'attr': {'placeholder': 'Query'}}) }}
        <div class="search-tip">
            Search tip: The percent matches any group of characters. You could search for "heat*" and find "heated,"
            "heating," and "heats."
        </div>
        <button type="submit" name="filter_action" value="filter" class="btn btn-primary">Search</button>
        <button type="submit" name="filter_action" value="reset" class="btn btn-danger">Reset</button>
        {{ form_end(searchFrom) }}

    </div>

    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Username</th>
                <th>Email</th>
                <th>Day of birth</th>
                <th>Roles</th>
                <th>Created at</th>
                <th>Updated at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody class="table-striped">
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.dayOfBirth ? user.dayOfBirth|date('Y-m-d') : '' }}</td>
                <td>{{ user.getRolesWithName | join(', ') }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.updatedAt ? user.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('backend_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('backend_new') }}">Create new</a>
{% endblock %}
