<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container">
                    <a class="text-white navbar-brand" href="{{ path('homepage') }}">Home</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="text-white nav-link" href="{{ path('backend_index')}}">User list</a>
                            </li>
                        </ul>
                        <ul class="navbar-nav ml-auto ">
                            {% if app.user %}
                                <li class="nav-item">
                                    <a class="text-white nav-link" href="{{path('app_logout')}}">Log out</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="text-white nav-link" href="{{path('app_login')}}">Log in</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main role="main">
            <div class="album py-5 bg-light">
                <div class="container">
                    {% block body %}{% endblock %}
                </div>
            </div>
        </main>
    </body>
</html>
